.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
runs/
wandb/

# Model checkpoints and large files
checkpoint*/
*.pt
*.safetensors
*.bin
*.ckpt
distilBERT-*/
*.h5
*.pth

TODO.md 
# clear commit history
# git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch -r distilBERT-symptom-ner-v00/ checkpoint*/' 