pandas
numpy
ipykernel
transformers
sentencepiece
datasets
accelerate>=0.26.0
wandb
seqeval
scikit-learn
fastapi
matplotlib
python-dotenv
huggingface-hub
evaluate
# google cloud specifics
# package to handle GCS
google-cloud-storage 
optimum
optimum-onnx
onnx
onnxruntime