FORMAT: 1A
HOST: https://apps.superlogica.net/imobiliaria/api/

# API Imobiliárias

# Suporte
Documentação relacionada https://apiassinaturas.superlogica.com/ e outras dúvidas sobre a API podem ser enviadas para api.imobiliarias@superlogica.com

# O que você precisa para fazer uma requisição na nossa API?

##Crie o ambiente de teste:

Entre em https://superlogica.com/imobiliarias/, e preencha o formulário para que imediatamente seu ambiente de teste seja criado. Este ambiente tem alguns limites e restrições de segurança em relação a produção e expira em 15 dias (caso necessário pode-se estender esse prazo);

## Obtenha o “app token”:

No final do processo de criação do ambiente de teste, você poderá registar um aplicativo (e assim obter o “app token”). Escolha um nome para seu aplicativo e detalhe como pretende usa-lo. Isto é importante para nós pois poderemos monitorar as chamadas ocorridas via API e bloquear usos abusivos. Você pode criar mais de um aplicativo entrando em https://superlogica.net/usuario.

##Obtendo o “access token”:

Assim que você registrar o aplicativo um “acess token” também é gerado para seu ambiente de teste. Ao contrário do “app token”, o “access token” gerado só é válido para o ambiente de teste. Um novo tem que ser gerado para cada base de dados a ser acessada. Assim, quando você terminar seus testes, você precisará entrar em https://superlogica.net/usuario para liberar seu aplicativo (“app token”) no ambiente de produção.

##Como liberar uma aplicação para acessar uma licença?
O processo para autorizar um aplicativo a acessar uma licença ocorre em 2 fases, seguindo o padrão OAUTH2:

1. Direcione o usuário para esta url:
https://nome_da_licenca.superlogica.net/clients/financeiro/login?app_token=XXXXXX&redirect_uri=XXXXXXX;
Você precisará do application token, do nome da licença que irá liberar o acesso e de uma url do seu lado. Esta url terá o código para completar a liberação;

2. A url do passo anterior mostrará ao cliente o nome do aplicativo que ele esta liberando e uma opção para ele confirmar ou rejeitar. Se o usuário confirmar, ele será redirecionado para a url (que esta do lado do aplicativo) “redirect_uri” junto com um código “code”. Este code é um token temporário que é útilizado para a aplicação trocar pelo access token, este permanente. Então, para obter o access token basta fazer esta requisição:

$ curl -X GET https://api.superlogica.net/oauth/access_token/  \
-H "Content-Type:application/x-www-form-urlencoded" \
-H "Authorization:Basic base64_encode(appToken:secretToken)" \
-d "code:code" \
-d "grant_type:authorization_code" \


200 (success)
Content-Type: application/json 
{
    "access_token": "twROEiT4BNv3"
}
O Access token dá acesso ao aplicativo em uma licença, então você deve gravar este access token para conseguir fazer requisições naquela licença sem precisar liberação novamente de um usuário.

# Arquitetura
A integração é realizada através de serviços disponibilizados como Web Services. O modelo empregado é simples: há uma URL (endpoint) para cada operação, que recebe os POSTs via HTTPS.

# Requisições
- Formato Json  codificados com UTF-8;
- Campos de datas precisam ser enviados com padrão MM/DD/YYYY em todos os recursos;
- Números com “.” como separadores decimais, sem separadores milhares e com o sinal “-” representando valores negativo.

# Retornos
Os dados e mensagens são retornados em formato JSON codificados com UTF-8.

Um status code é retornado sempre. É importante uma correta validação deste status considerando que um valor maior ou igual a 300 sempre representa um erro. O status 200 significa processamento realizado com sucesso sem ressalvas.

# Group Contratos

## Cadastro, consulta e edição [/contratos]

## Cadastrar um novo contrato [POST]

+ Attributes (object)
    + ID_IMOVEL_IMO (required, number) - ID do imóvel.
    + ID_TIPO_CON (required, number) - Tipo de contrato - 1 => Residencial, 2 => Não residencial, 3 => Comercial, 4 => Indústria, 5 => Temporada, 6 => Por encomenda, 7 => Mista..
    + DT_INICIO_CON (required, number) - Data de inicio do contrato.
    + DT_FIM_CON (required, number) - Data de termino do contrato.
    + VL_ALUGUEL_CON (required, string) - Valor do aluguel.
    + TX_ADM_CON (required, string) - Taxa de administração.
    + FL_TXADMVALORFIXO_CON (required, number) - Flag para definir um valor fixo para taxa, ao invés de percentual.
    + NM_DIAVENCIMENTO_CON (required, number) - Dia de vencimento do contrato.
    + INQUILINOS[0][ID_PESSOA_PES] (number, required) - ID gerado no cadastro do locatário.
    + INQUILINOS[0][FL_PRINCIPAL_INQ] (number, required) - Caso o contrato tenha mais de 1 locatário esse campo é OBRIGATÓRIO. Serve para identificar o locatario principal contrato: 1: Locatário principal, 0: Locatário normal.
    + INQUILINOS[0][NM_FRACAO_INQ] (required, number) - Percentual no recibo .
    + TX_LOCACAO_CON (required, string) - Valor da taxa de locação.
    + ID_INDICEREAJUSTE_CON (required, number) - ID do indice de reajuste.
    + NM_MESREAJUSTE_CON (required, number) - Mês de reajuste do contrato.
    + DT_ULTIMOREAJUSTE_CON (required, number) - Data do ultimo reajuste (Obs: O ideal é que seja o primeiro dia do mês de inicio).
    + FL_MESFECHADO_CON (required, number) - Flag de periodo do aluguel com mês fechado.
    + ID_CONTABANCO_CB (required, number) - ID do banco cadastrado na licença.
    + FL_DIAFIXOREPASSE_CON (required, number) - Flag para o dia do repasse - 0 => Dias úteis após pagamento do aluguel, 1 => Dia fixo, 2 => Dias corridos após pagamento do aluguel.
    + NM_DIAREPASSE_CON (required, number) - Numero de dias para repasse / Dia fixo do repasse.
    + FL_MESVENCIDO_CON (required, number) - Forma de cobrança - 0 => Mês vencido, 1 => Mês a vencer.
    + FL_DIMOB_CON (required, number) - Gerar DIMOB pelo sistema.
    + ID_FILIAL_FIL (required, number) - ID da filial cadastrada no sistema (Obs: Matriz é sempre ID => 0 / Conta bancaria do contrato precisa estar na mesma filial).
    + ST_OBSERVACAO_CON (required, string) - Observações do contrato.
    + NM_REPASSEGARANTIDO_CON (required, number) - Repasse garantido ou numero de meses garantidos - -1 => Garantido por todo o contrato, 0 => Sem repasse garantido, (1, 2, 3, 4...) => Numero de meses garantidos pelo contrato.
    + FL_GARANTIA_CON (required, number) - 0 => Não possui garantia.
    + FL_SEGUROINCENDIO_CON (required, number) - 0 => Não possui seguro.
    + FL_ENDCOBRANCA_CON (required, number) - Endereço de cobrança - 1 => Usar endereço do imóvel locado, 2 => Usar endereço do locatário, 3 => Definir outro endereço.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ID_IMOVEL_IMO": "364",
            "ID_TIPO_CON": "1",
            "DT_INICIO_CON": "06/28/2019",
            "DT_FIM_CON": "12/27/2021",
            "VL_ALUGUEL_CON": "1800",
            "TX_ADM_CON": "10",
            "FL_TXADMVALORFIXO_CON": "0",
            "NM_DIAVENCIMENTO_CON": "25",
            "TX_LOCACAO_CON": "0",
            "ID_INDICEREAJUSTE_CON": "1",
            "NM_MESREAJUSTE_CON": "6",
            "DT_ULTIMOREAJUSTE_CON": "06/01/2019",
            "FL_MESFECHADO_CON": "0",
            "ID_CONTABANCO_CB": "1",
            "FL_DIAFIXOREPASSE_CON": "0",
            "NM_DIAREPASSE_CON": "5",
            "FL_MESVENCIDO_CON": "0",
            "FL_DIMOB_CON": "0",
            "ID_FILIAL_FIL": "0",
            "ST_OBSERVACAO_CON": "Contrato cadastrado via API",
            "NM_REPASSEGARANTIDO_CON": "0",
            "FL_GARANTIA_CON": "0",
            "FL_SEGUROINCENDIO_CON": "0",
            "FL_ENDCOBRANCA_CON": "0",
            "INQUILINOS": [{"ID_PESSOA_PES": 100, "FL_PRINCIPAL_INQ": 1, "NM_FRACAO_INQ": 50}, {"ID_PESSOA_PES": 101, "FL_PRINCIPAL_INQ": 0, "NM_FRACAO_INQ": 50}]
            ]
        }

+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Todos os itens foram processados com sucesso.",
                "data": {
                    "id_contrato_con":"543", 
                    "id_tipo_con":"1", 
                    "dt_inicio_con":"06\/28\/2019", 
                    "dt_fim_con":"12\/27\/2021", 
                    "tx_adm_con":"10.00", 
                    "vl_aluguel_con":"1800.00", 
                    "nm_diavencimento_con":"25", 
                    "id_indicereajuste_con":"1", 
                    "nm_txjuros_con":"", 
                    "nm_txmulta_con":"", 
                    "nm_txdesconto_con":"", 
                    "tx_locacao_con":"0.00", 
                    "id_imovel_imo":"444", 
                    "id_corretor_con":"", 
                    "fl_garantia_con":"0", 
                    "fl_tipocaucaogarantia_con":"", 
                    "st_descricaogarantia_con":"", 
                    "st_identificadorgarantia_con":"", 
                    "st_observacaogarantia_con":"", 
                    "vl_valorgarantia_con":"", 
                    "nm_diarepasse_con":"5", 
                    "nm_mesreajuste_con":"6", 
                    "dt_rescisao_con":"", 
                    "fl_ativo_con":"1", 
                    "dt_garantiainicio_con":"", 
                    "dt_garantiafim_con":"", 
                    "fl_garantiaresponsavel_con":"0", 
                    "nm_garantiaparcelas_con":"", 
                    "vl_garantiaparcela_con":"", 
                    "dt_seguroincendioinicio_con":"", 
                    "dt_seguroincendiofim_con":"", 
                    "vl_seguroincendio_con":"", 
                    "st_seguroincendiodescricao_con":"", 
                    "st_seguroincendioidentificador_con":"", 
                    "st_seguroincendioobservacao_con":"", 
                    "fl_seguroincendio_con":"0", 
                    "nm_locacoesimovel_con":"1", 
                    "id_mensalidade_mens":"735", 
                    "fl_endcobranca_con":"1", 
                    "st_cep_con":"", 
                    "st_endereco_con":"", 
                    "st_numero_con":"", 
                    "st_complemento_con":"", 
                    "st_bairro_con":"", 
                    "st_cidade_con":"", 
                    "dt_ultimoreajuste_con":"06\/01\/2019", 
                    "st_estado_con":"", 
                    "fl_txadmvalorfixo_con":"0", 
                    "fl_txlocacaovalorfixo_con":"0", 
                    "nm_parcelastxlocacao_con":"", 
                    "nm_repassegarantido_con":"0", 
                    "fl_cobrarnosegundoaluguel_con":"", 
                    "id_primeiraparcela_con":"", 
                    "fl_reterir_con":"-1", 
                    "st_label_mens":"543", 
                    "fl_emitirnotafiscal_con":"", 
                    "id_contabanco_cb":"76", 
                    "fl_mesvencido_con":"0", 
                    "fl_diafixorepasse_con":"0", 
                    "st_clausulas_con":"", 
                    "dt_faturamento_con":"", 
                    "tx_multacontratual_con":"", 
                    "vl_tarifabancariarepasse_con":"", 
                    "fl_tarifabancariarepasse_con":"", 
                    "id_txbancaria_mens":"", 
                    "fl_cobrartxbancaria_con":"", 
                    "id_endereco_sen":"521", 
                    "fl_status_con":"0", 
                    "fl_tipoentrega_con":"", 
                    "fl_suspenso_con":"0", 
                    "fl_dimob_con":"0", 
                    "dt_desocupacao_con":"", 
                    "st_atividadecomercial_con":"", 
                    "fl_txlocacao_con":"", 
                    "dt_renovacao_con":"", 
                    "fl_irdeduzirtxadm_con":"0", 
                    "nm_carencia_con":"", 
                    "id_seguro_seg":"", 
                    "fl_mesfechado_con":"0", 
                    "dt_cadastro_con":"06\/27\/2019", 
                    "id_filial_fil":"0", 
                    "fl_split_con":"", 
                    "fl_contratodigital_con":"", 
                    "id_arquivo_arq":"", 
                    "st_observacaorecisao_con":"", 
                    "st_observacao_con":"\"Contrato cadastrado via API\"", 
                    "vl_importanciaseguradaincendio_con":"", 
                    "vl_premioseguroincendio_con":"", 
                    "id_seguradora_seg":"", 
                    "st_motivopausa_con":"", 
                    "dt_ultimapausa_con":"", 
                    "nm_parcelasseguroincendio_con":"", 
                    "id_seguradorafianca_con":""
                }
            }
        ]
        
## Editar um contrato [PUT]

+ Attributes (object)
    + ID_CONTRATO_CON (required, number) - ID do contrato que será editado.
    + ID_IMOVEL_IMO (required, number) - ID do imóvel.
    + ID_TIPO_CON (required, number) - Tipo de contrato - 1 => Residencial, 2 => Não residencial, 3 => Comercial, 4 => Indústria, 5 => Temporada, 6 => Por encomenda, 7 => Mista..
    + DT_INICIO_CON (required, number) - Data de inicio do contrato.
    + DT_FIM_CON (required, number) - Data de termino do contrato.
    + VL_ALUGUEL_CON (required, string) - Valor do aluguel.
    + TX_ADM_CON (required, string) - Taxa de administração.
    + FL_TXADMVALORFIXO_CON (required, number) - Flag para definir um valor fixo para taxa, ao invés de percentual.
    + NM_DIAVENCIMENTO_CON (required, number) - Dia de vencimento do contrato.
    + INQUILINOS[0][ID_PESSOA_PES] (number, number) - ID gerado no cadastro do locatário.
    + INQUILINOS[0][FL_PRINCIPAL_INQ] (number, number) - Caso o contrato tenha mais de 1 locatário esse campo é OBRIGATÓRIO. Serve para identificar o locatario principal contrato: 1: Locatário principal, 0: Locatário normal.
    + INQUILINOS[0][NM_FRACAO_INQ] (required, number) - Percentual no recibo .
    + TX_LOCACAO_CON (required, string) - Valor da taxa de locação.
    + ID_INDICEREAJUSTE_CON (required, number) - ID do indice de reajuste.
    + NM_MESREAJUSTE_CON (required, number) - Mês de reajuste do contrato.
    + DT_ULTIMOREAJUSTE_CON (required, number) - Data do ultimo reajuste (Obs: O ideal é que seja o primeiro dia do mês de inicio).
    + FL_MESFECHADO_CON (required, number) - Flag de periodo do aluguel com mês fechado.
    + ID_CONTABANCO_CB (required, number) - ID do banco cadastrado na licença.
    + FL_DIAFIXOREPASSE_CON (required, number) - Flag para o dia do repasse - 0 => Dias úteis após pagamento do aluguel, 1 => Dia fixo, 2 => Dias corridos após pagamento do aluguel.
    + NM_DIAREPASSE_CON (required, number) - Numero de dias para repasse / Dia fixo do repasse.
    + FL_MESVENCIDO_CON (required, number) - Forma de cobrança - 0 => Mês vencido, 1 => Mês a vencer.
    + FL_DIMOB_CON (required, number) - Gerar DIMOB pelo sistema.
    + ID_FILIAL_FIL (required, number) - ID da filial cadastrada no sistema (Obs: Matriz é sempre ID => 0 / Conta bancaria do contrato precisa estar na mesma filial).
    + ST_OBSERVACAO_CON (required, string) - Observações do contrato.
    + NM_REPASSEGARANTIDO_CON (required, number) - Repasse garantido ou numero de meses garantidos - -1 => Garantido por todo o contrato, 0 => Sem repasse garantido, (1, 2, 3, 4...) => Numero de meses garantidos pelo contrato.
    + FL_GARANTIA_CON (required, number) - 0 => Não possui garantia.
    + FL_SEGUROINCENDIO_CON (required, number) - 0 => Não possui seguro.
    + FL_ENDCOBRANCA_CON (required, string) - Endereço de cobrança - 1 => Usar endereço do imóvel locado, 2 => Usar endereço do locatário, 3 => Definir outro endereço.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ID_CONTRATO_CON": "41",
            "ID_TIPO_CON": "2",
            "DT_INICIO_CON": "06/10/2019",
            "DT_FIM_CON": "12/09/2021",
            "VL_ALUGUEL_CON": "1900",
            "TX_ADM_CON": "190",
            "FL_TXADMVALORFIXO_CON": "1",
            "NM_DIAVENCIMENTO_CON": "10",
            "FL_DIAFIXOREPASSE_CON": "1",
            "NM_DIAREPASSE_CON": "15",
            "ST_OBSERVACAO_CON": "Contrato editado via API"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_contrato_con":"544", 
                    "id_tipo_con":"2", 
                    "dt_inicio_con":"06\/10\/2019", 
                    "dt_fim_con":"12\/09\/2021", 
                    "tx_adm_con":"190.00", 
                    "vl_aluguel_con":"1900.00", 
                    "nm_diavencimento_con":"10", 
                    "id_indicereajuste_con":"1", 
                    "nm_txjuros_con":"", 
                    "nm_txmulta_con":"", 
                    "nm_txdesconto_con":"", 
                    "tx_locacao_con":"0.00", 
                    "id_imovel_imo":"445", 
                    "id_corretor_con":"", 
                    "fl_garantia_con":"0", 
                    "fl_tipocaucaogarantia_con":"", 
                    "st_descricaogarantia_con":"", 
                    "st_identificadorgarantia_con":"", 
                    "st_observacaogarantia_con":"", 
                    "vl_valorgarantia_con":"", 
                    "nm_diarepasse_con":"15", 
                    "nm_mesreajuste_con":"6", 
                    "dt_rescisao_con":"", 
                    "fl_ativo_con":"1", 
                    "dt_garantiainicio_con":"", 
                    "dt_garantiafim_con":"", 
                    "fl_garantiaresponsavel_con":"0", 
                    "nm_garantiaparcelas_con":"", 
                    "vl_garantiaparcela_con":"", 
                    "dt_seguroincendioinicio_con":"", 
                    "dt_seguroincendiofim_con":"", 
                    "vl_seguroincendio_con":"", 
                    "st_seguroincendiodescricao_con":"", 
                    "st_seguroincendioidentificador_con":"", 
                    "st_seguroincendioobservacao_con":"", 
                    "fl_seguroincendio_con":"0", 
                    "nm_locacoesimovel_con":"1", 
                    "id_mensalidade_mens":"736", 
                    "fl_endcobranca_con":"1", 
                    "st_cep_con":"", 
                    "st_endereco_con":"", 
                    "st_numero_con":"", 
                    "st_complemento_con":"", 
                    "st_bairro_con":"", 
                    "st_cidade_con":"", 
                    "dt_ultimoreajuste_con":"06\/01\/2019", 
                    "st_estado_con":"", 
                    "fl_txadmvalorfixo_con":"1", 
                    "fl_txlocacaovalorfixo_con":"0", 
                    "nm_parcelastxlocacao_con":"", 
                    "nm_repassegarantido_con":"0", 
                    "fl_cobrarnosegundoaluguel_con":"", 
                    "id_primeiraparcela_con":"", 
                    "fl_reterir_con":"-1", 
                    "st_label_mens":"544", 
                    "fl_emitirnotafiscal_con":"", 
                    "id_contabanco_cb":"76", 
                    "fl_mesvencido_con":"0", 
                    "fl_diafixorepasse_con":"1", 
                    "st_clausulas_con":"", 
                    "dt_faturamento_con":"", 
                    "tx_multacontratual_con":"", 
                    "vl_tarifabancariarepasse_con":"", 
                    "fl_tarifabancariarepasse_con":"", 
                    "id_txbancaria_mens":"", 
                    "fl_cobrartxbancaria_con":"", 
                    "id_endereco_sen":"522", 
                    "fl_status_con":"0", 
                    "fl_tipoentrega_con":"", 
                    "fl_suspenso_con":"0", 
                    "fl_dimob_con":"0", 
                    "dt_desocupacao_con":"", 
                    "st_atividadecomercial_con":"", 
                    "fl_txlocacao_con":"", 
                    "dt_renovacao_con":"", 
                    "fl_irdeduzirtxadm_con":"0", 
                    "nm_carencia_con":"", 
                    "id_seguro_seg":"", 
                    "fl_mesfechado_con":"0", 
                    "dt_cadastro_con":"06\/27\/2019", 
                    "id_filial_fil":"0", 
                    "fl_split_con":"", 
                    "fl_contratodigital_con":"", 
                    "id_arquivo_arq":"", 
                    "st_observacaorecisao_con":"", 
                    "st_observacao_con":"\"Contrato editado via API\"", 
                    "vl_importanciaseguradaincendio_con":"", 
                    "vl_premioseguroincendio_con":"", 
                    "id_seguradora_seg":"", 
                    "st_motivopausa_con":"", 
                    "dt_ultimapausa_con":"", 
                    "nm_parcelasseguroincendio_con":"", 
                    "id_seguradorafianca_con":""
                }
            }
        ]

##Consultar contrato [GET]

+ Attributes (object)
    + id (number) - ID do contrato dentro do sistema.
    + comDadosDosProprietarios (number) - Flag para trazer os dados dos proprietários - 0 => False, 1 => True.
    + comDadosDosInquilinos (number) - Flag para trazer os dados dos locatários - 0 => False, 1 => True.
    + comDadosDosImoveis (number) - Flag para trazer os dados dos imóveis do contrato - 0 => False, 1 => True.
    + comStatus (string) - Flag utilizada para filtrar os contratos 'ativos', 'finalizados', 'todos', 'pendentes', 'andamento'.
    + INQUILINOS (string) - Filtra contratos dos inquilinos informados, recebe um array com ids dos inquilinos.
    + PROPRIETARIOS (string) - Filtra contratos dos proprietários informados, recebe um array com ids dos proprietários.
    + idImoveis (string) - Filtra contratos dos imóveis informados, recebe um array com ids dos imóveis.

+ Request (application/json)
    + Headers 
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    + Body
        {
            "id": "41",
            "comDadosDosProprietarios": "1",
            "comDadosDosInquilinos": "1",
            "comDadosDosImoveis": "1",
            "idImoveis" : ["1"],
            "comStatus": "todos"
        }

+ Response 200 (application/json) 
    + Body
        [
            {
            "imoveis_gestores": [],
            "id_imovel_imo": "445",
            "st_tipo_imo": "1",
            "st_endereco_imo": "Rua Santiago",
            "st_identificador_imo": "",
            "st_complemento_imo": "",
            "st_bairro_imo": "Parque das Nações (Nova Veneza)",
            "st_numero_imo": "111",
            "st_cep_imo": "13181-220",
            "st_cidade_imo": "Sumaré",
            "st_estado_imo": "SP",
            "st_observacao_imo": "",
            "st_areatotal_imo": "",
            "vl_venda_imo": "220000.00",
            "st_condominio_imo": "",
            "st_tipodimob_imo": "U",
            "id_filial_fil": "0",
            "st_nome_fil": "Matriz",
            "st_razaosocial_fil": "",
            "inquilinos": [
                {
                    "id_sacado_sac": "411",
                    "st_fantasia_pes": "giovana silva",
                    "st_endereco_pes": "Avenida C-7",
                    "st_numero_pes": "41",
                    "st_complemento_pes": "",
                    "st_cidade_pes": "Barretos",
                    "st_estado_pes": "SP",
                    "st_cep_pes": "14781491",
                    "st_bairro_pes": "Cristiano de Carvalho",
                    "st_cnpj_pes": "45473514065",
                    "st_orgao_pes": "",
                    "dt_expedicaorg_pes": "03/27/2017",
                    "st_rg_pes": "50.396.390-2",
                    "st_nacionalidade_pes": "Brasileira",
                    "st_naturalidade_pes": "",
                    "st_estadocivil_pes": "1",
                    "st_profissao_pes": "",
                    "st_email_pes": "",
                    "st_telefone_pes": "36684952",
                    "st_celular_pes": "78452136592",
                    "st_nomeresp_pes": "",
                    "dt_nascimento_pes": "09/10/1998",
                    "st_sexo_pes": "2",
                    "st_nome_coj": "jorge luis",
                    "st_cpf_coj": "84093433046",
                    "id_contrato_con": "544",
                    "id_pessoa_pes": "400",
                    "fl_principal_inq": "1",
                    "nm_fracao_inq": "100.00",
                    "st_nomeinquilino": "giovana silva",
                    "st_nomeinquilino_formatado": "<span class=cliente title=\"Locatário\"><i class='fa fa-key text-regular'></i> <a href=https://apps.superlogica.net/imobiliaria/pessoas/id/400><span class=nome>giovana silva</span></a></span>"
                }
            ],
            "id_contrato_con": "544",
            "id_tipo_con": "2",
            "dt_inicio_con": "06/10/2019",
            "dt_fim_con": "12/09/2021",
            "tx_adm_con": "190.00",
            "vl_aluguel_con": "2000.00",
            "nm_diavencimento_con": "10",
            "id_indicereajuste_con": "1",
            "nm_txjuros_con": "",
            "nm_txmulta_con": "",
            "nm_txdesconto_con": "",
            "tx_locacao_con": "0.00",
            "id_corretor_con": "",
            "fl_garantia_con": "0",
            "fl_tipocaucaogarantia_con": "",
            "st_descricaogarantia_con": "",
            "st_identificadorgarantia_con": "",
            "st_observacaogarantia_con": "",
            "vl_valorgarantia_con": "",
            "nm_diarepasse_con": "15",
            "nm_mesreajuste_con": "6",
            "dt_rescisao_con": "",
            "fl_ativo_con": "1",
            "dt_garantiainicio_con": "",
            "dt_garantiafim_con": "",
            "fl_garantiaresponsavel_con": "0",
            "nm_garantiaparcelas_con": "",
            "vl_garantiaparcela_con": "",
            "dt_seguroincendioinicio_con": "",
            "dt_seguroincendiofim_con": "",
            "vl_seguroincendio_con": "",
            "st_seguroincendiodescricao_con": "",
            "st_seguroincendioidentificador_con": "",
            "st_seguroincendioobservacao_con": "",
            "fl_seguroincendio_con": "0",
            "nm_locacoesimovel_con": "1",
            "id_mensalidade_mens": "736",
            "fl_endcobranca_con": "1",
            "st_cep_con": "",
            "st_endereco_con": "",
            "st_numero_con": "",
            "st_complemento_con": "",
            "st_bairro_con": "",
            "st_cidade_con": "",
            "dt_ultimoreajuste_con": "06/01/2019",
            "st_estado_con": "",
            "fl_txadmvalorfixo_con": "1",
            "fl_txlocacaovalorfixo_con": "0",
            "nm_parcelastxlocacao_con": "",
            "nm_repassegarantido_con": "0",
            "fl_cobrarnosegundoaluguel_con": "",
            "id_primeiraparcela_con": "",
            "fl_reterir_con": "-1",
            "st_label_mens": "544",
            "fl_emitirnotafiscal_con": "",
            "id_contabanco_cb": "76",
            "fl_mesvencido_con": "0",
            "fl_diafixorepasse_con": "1",
            "st_clausulas_con": "",
            "dt_faturamento_con": "",
            "tx_multacontratual_con": "",
            "vl_tarifabancariarepasse_con": "",
            "fl_tarifabancariarepasse_con": "",
            "id_txbancaria_mens": "",
            "fl_cobrartxbancaria_con": "",
            "id_endereco_sen": "522",
            "fl_status_con": "0",
            "fl_tipoentrega_con": "",
            "fl_suspenso_con": "0",
            "fl_dimob_con": "0",
            "dt_desocupacao_con": "",
            "st_atividadecomercial_con": "",
            "fl_txlocacao_con": "",
            "dt_renovacao_con": "",
            "fl_irdeduzirtxadm_con": "0",
            "nm_carencia_con": "",
            "id_seguro_seg": "",
            "fl_mesfechado_con": "0",
            "dt_cadastro_con": "06/27/2019",
            "fl_split_con": "",
            "fl_contratodigital_con": "",
            "id_arquivo_arq": "",
            "st_observacaorecisao_con": "",
            "st_observacao_con": "\"Contrato editado via API\"",
            "vl_importanciaseguradaincendio_con": "",
            "vl_premioseguroincendio_con": "",
            "id_seguradora_seg": "",
            "st_motivopausa_con": "",
            "dt_ultimapausa_con": "",
            "nm_parcelasseguroincendio_con": "",
            "id_seguradorafianca_con": "",
            "acesso_geral": "1",
            "codigo_contrato": "445/1",
            "imovel_formatado": "<span><i class='fa fa-home text-regular'></i>  <a style=color:black href=\"https://apps.superlogica.net/imobiliaria/imoveis/id/445\">\n            <span class=nome style=color:black>Casa no Parque das Nações (Nova Veneza), Rua Santiago 111 </span></a></span>",
            "st_imovel_imo": "Casa no Parque das Nações (Nova Veneza), Rua Santiago 111 ",
            "detalhes_contrato": "<span class=cliente><a href=\"https://apps.superlogica.net/imobiliaria/contratos/id/544\"><span class=nome style=color:black>Contrato 445/1</span></a></span>",
            "nm_garagens_imovel": "0",
            "proprietarios_beneficiarios": [
                {
                    "st_fantasia_pes": "Fernanda a Proprietária",
                    "st_nome_pes": "Fernanda a Proprietária",
                    "st_cnpj_pes": "84393629949",
                    "st_orgao_pes": "",
                    "dt_expedicaorg_pes": "",
                    "st_rg_pes": "",
                    "st_nacionalidade_pes": "Brasileira",
                    "st_naturalidade_pes": "",
                    "st_estadocivil_pes": "0",
                    "st_profissao_pes": "",
                    "st_endereco_pes": "",
                    "dt_nascimento_pes": "",
                    "st_numero_pes": "",
                    "st_bairro_pes": "",
                    "st_cidade_pes": "",
                    "st_estado_pes": "--",
                    "st_nomeresp_pes": "",
                    "st_email_pes": "",
                    "st_celular_pes": "",
                    "id_formarecebimento_frp": "",
                    "st_banco_frp": "",
                    "st_agenciabanco_frp": "",
                    "st_conta_frp": "",
                    "st_tipoconta_frp": "",
                    "st_nomerecebedor_frp": "",
                    "st_cnpjrecebedor_frp": "",
                    "id_pessoa_pes": "381",
                    "id_forma_for": "",
                    "st_operacao_frp": "",
                    "id_imovel_imo": "445",
                    "nm_fracao_prb": "100.00",
                    "fl_principal_prb": "1",
                    "fl_proprietario_prb": "1",
                    "id_propsplit_pst": "",
                    "nome_proprietario_formatado": "<span class=cliente title=\"Proprietário\"><i class='fa fa-user text-regular'></i> <a href=https://apps.superlogica.net/imobiliaria/pessoas/id/381><span class=nome>Fernanda a Proprietária</span></a></span>"
                }
            ],
            "nome_proprietario": "Fernanda a Proprietária",
            "st_seguradorafianca_con": "",
            "fl_exibircobrancas": "0"
            }
        ]

# Group Despesas do contrato

## Cadastro, consulta e edição [/imoveisdespesa]

## Cadastrar uma nova despesa [POST]

+ Attributes (object)
    + ID_IMOVEL_IMO (required, number) - ID do imóvel.
    + ID_CONTRATO_CON (required, number) - ID do contrato.
    + DT_LANCAMENTO_IMOD (required, number) - Data de vencimento da despesa.
    + VALOR (required, number) - Valor da despesa.
    + ID_PRODUTO_PRD (required, number) - ID do produto.
    + ST_COMPLEMENTO (optional, string) - Complemento da despesa.
    + ID_DEBITO_IMOD (required, number) - Debito da despesa - 1 => Proprietário, 2 => Locatário, 3 => Imobiliária.
    + ID_CREDITO_IMOD (required, number) - Credito da despesa - 1 => Proprietário, 2 => Locatário, 3 => Imobiliária, 4 => Terceiro.
    + ID_FORMAPAGAMENTO_IMOD (required, number) - Forma de pagamento da despesa.
    + NM_PARCELAS (required, number) - Numero da parcela.
    + NM_PARCELAS_FIM (required, number) - Total de parcelas.
    + NM_DIAVENCIMENTO_CON (required, number) - Dia de vencimento do contrato.
    + DT_COMPETENCIA_IMOD (required, number) - Mês de debito da despesa.
    + ID_CONTABANCO_CB (required, number) - ID do banco cadastrado na licença.
    + FL_COBRARTXADM_IMOD (required, number) - Flag para calcular taxa de administração sobre o serviço da despesa - 0 => Não calcular taxa sobre a despesa, 1 => Calcular taxa sobre a despesa.
    + ID_TERCEIRO_FAV (optional, number) - ID do fornecedor no caixa (Obs: Só preencher quando o ID_CREDITO_IMOD => 4 (credito da despesa para terceiro)).
    + ST_CODIGOBARRAS_MOV (optional, number) - Codigo de barras.
    + DESPESAS_PARCELA[0][DT_REFERENCIA_IMOD] - (Para despesas parceladas) - Data de vencimento da parcela.
    + DESPESAS_PARCELA[0][DT_COMPETENCIA_IMOD] - (Para despesas parceladas) - Data de competencia da parcela.
    + DESPESAS_PARCELA[0][VL_VALOR_IMOD] - (Para despesas parceladas) - Valor da parcela.
    + DESPESAS_PARCELA[0][ST_COMPLEMENTO_IMOD] - (Para despesas parceladas) - Complemento da parcela.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741

    + Body
        {
            "ID_IMOVEL_IMO": "445",
            "ID_CONTRATO_CON": "544",
            "DT_LANCAMENTO_IMOD": "07/10/2019",
            "VALOR": "123",
            "ID_PRODUTO_PRD": "68",
            "ST_COMPLEMENTO": "Via API",
            "ID_DEBITO_IMOD": "2",
            "ID_CREDITO_IMOD": "3",
            "ID_FORMAPAGAMENTO_IMOD": "10",
            "NM_PARCELAS": "1",
            "NM_PARCELAS_FIM": "1",
            "FL_COBRARTXADM_IMOD": "1",
            "ID_CONTABANCO_CB": "76",
            "ST_CODIGOBARRAS_MOV": "23790504004199062814509008109200179480000029900"
        }

+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Todos os itens foram processados com sucesso.",
                "data": {
                    "id_lancamento_imod":"9130",
                    "dt_lancamento_imod":"06\/28\/2019",
                    "st_complemento_imod":"Via API",
                    "id_imovel_imo":"445",
                    "id_produto_prd":"68",
                    "fl_status_imod":"0",
                    "vl_valor_imod":"123.00",
                    "id_md5parcelamento_imod":"02bc292b9e4d65b2e6a006e8775274736557dd45",
                    "id_contrato_con":"544",
                    "id_proprietariodebito_imod":"",
                    "fl_cobrartxadm_imod":"0",
                    "fl_pagtoantecipado_imod":"0",
                    "dt_referencia_imod":"07\/10\/2019",
                    "id_debito_imod":"2",
                    "id_credito_imod":"3",
                    "id_lancamentodebito_imod":"",
                    "id_lancamentocredito_imod":"",
                    "id_proprietariocredito_imod":"",
                    "id_terceiro_fav":"",
                    "id_faturamento_comp":"",
                    "id_repasse_rep":"",
                    "id_faturamento_facs":"",
                    "fl_especialfin_imod":"0",
                    "fl_especial_imod":"0",
                    "id_recebimento_recb":"",
                    "fl_retencao_imod":"0",
                    "dt_competencia_imod":"07\/01\/2019",
                    "st_codigobarras_mov":"",
                    "st_label_imod":"",
                    "id_acordo_aco":"",
                    "id_lancamento_imodm":"",
                    "dt_liquidacao_mov":"",
                    "fl_status_mov":"",
                    "id_pagtoindevido_imod":"",
                    "vl_pagtoindevido_imod":"",
                    "id_despesaorigem_imod":"",
                    "id_formapagamento_imod":"10",
                    "id_contabanco_cb":"76",
                    "fl_repassar_imod":"",
                    "dt_liquidacao_imom":"",
                    "fl_conciliado_imod":"",
                    "fl_alterouvalor_imod":"",
                    "id_seguro_seg":"",
                    "id_iptulancamento_iil":"",
                    "st_split_imod":"",
                    "id_orcamento_morc":"",
                    "fl_statusdebito_imod":""
                }
            }
        ]
        
## Editar uma despesa [PUT]

+ Attributes (object)
    + ID_LANCAMENTO_IMOD (required, number) - ID da despesa que será editada.
    + DT_REFERENCIA_IMOD (required, number) - Data de vencimento da despesa.
    + VL_VALOR_IMOD (required, number) - Valor da despesa.
    + ID_PRODUTO_PRD (required, number) - ID do produto.
    + ST_COMPLEMENTO_IMOD (optional, string) - Complemento da despesa.
    + ID_DEBITO_IMOD (required, number) - Debito da despesa - 1 => Proprietário, 2 => Locatário, 3 => Imobiliária.
    + ID_CREDITO_IMOD (required, number) - Credito da despesa - 1 => Proprietário, 2 => Locatário, 3 => Imobiliária, 4 => Terceiro.
    + ID_FORMAPAGAMENTO_IMOD (required, number) - Forma de pagamento da despesa.
    + NM_DIAVENCIMENTO_CON (required, number) - Dia de vencimento do contrato.
    + DT_COMPETENCIA_IMOD (required, number) - Mês de debito da despesa.
    + ID_CONTABANCO_CB (required, number) - ID do banco cadastrado na licença.
    + FL_COBRARTXADM_IMOD (required, number) - Flag para calcular taxa de administração sobre o serviço da despesa - 0 => Não calcular taxa sobre a despesa, 1 => Calcular taxa sobre a despesa.
    + ID_TERCEIRO_FAV (required, number) - ID do fornecedor no caixa (Obs: Só preencher quando o ID_CREDITO_IMOD => 4 (credito da despesa para terceiro)).

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ID_LANCAMENTO_IMOD": "9130",
            "DT_REFERENCIA_IMOD": "07/05/2019",
            "VL_VALOR_IMOD": "170",
            "ID_PRODUTO_PRD": "68",
            "ST_COMPLEMENTO_IMOD": "Edição via API",
            "ID_DEBITO_IMOD": "2",
            "ID_CREDITO_IMOD": "3",
            "ID_CONTABANCO_CB": "76",
            "FL_COBRARTXADM_IMOD": "0"
        }

+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Todos os itens foram processados com sucesso.",
                "data": {
                    "id_lancamento_imod":"9130", 
                }
            }
        ]

# Group Proprietários

## Cadastro, consulta e edição [/proprietarios]

## Cadastrar um novo proprietário [POST]

+ Attributes (object)
    + ST_NOME_PES (string, required) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ID_FORMA_PAG (optional, number) - 1 => Depósito em cheque, 2 => Depósito em dinheiro, 3 => Retirar cheque no local, 4 => Retirar dinheiro no local,   5 => Transf.bancária 6 => Doc/Ted
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => Masculino,
    2 => Feminino
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + FL_NAODOMICILIADO_PES (optional, number) - Não domiciliado no Brasil .
    (Boolean 0 ou 1)
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + FL_RETERISSQN_PES (optional, number) - Reter ISSQN .
    (Boolean 0 ou 1)
    + ST_OBSERVACAO_PES (optional, string) - Observação.
    + FL_PROPRIETARIOBENEFICIARIO_PES (required, number) - Flag do proprietário = 1.
    (Boolean 0 ou 1)

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ST_NOME_PES": "Giovani Siqueira",
            "ST_FANTASIA_PES": "Giovani Siqueira",
            "ST_CNPJ_PES": "06627803020",
            "ST_CELULAR_PES": "19983080917",
            "ST_TELEFONE_PES": "1938547119",
            "ST_EMAIL_PES": "giovani.siqueira@imobiliarias.com",
            "ST_RG_PES": "480476506",
            "ST_ORGÃO_PES": "SSP",
            "ST_SEXO_PES": 1,
            "DT_NASCIMENTO_PES": "09/01/1996",
            "ST_NACIONALIDADE_PES": "Brasileira",
            "ST_CEP_PES": "13180220",
            "ST_ENDERECO_PES": "Rua Benedito Matheus",
            "ST_NUMERO_PES": "100",
            "ST_COMPLEMENTO_PES": "Casa",
            "ST_BAIRRO_PES": "Jardim Santa Terezinha (Nova Veneza)",
            "ST_CIDADE_PES": "Sumaré",
            "ST_ESTADO_PES": "SP",
            "ST_OBSERVACAO_PES" : "Obs"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani Siqueira",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani Siqueira",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19983080917",
                    "st_email_pes":"giovani.siqueira@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"1",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":"",
                }
            }
        ]
        
## Editar um proprietário [PUT]

+ Attributes (object)
    + ID_PESSOA_PES (required, number) - Id do proprietário.
    + ST_NOME_PES (optional, string) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ID_FORMA_PAG (optional, number) - 1 => Depósito em cheque, 2 => Depósito em dinheiro, 3 => Retirar cheque no local, 4 => Retirar dinheiro no local,   5 => Transf.bancária 6 => Doc/Ted
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => 'Masculino',
    2 => 'Feminino'
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + FL_RETERISSQN_PES (optional, number) - Reter ISSQN .
    (Boolean 0 ou 1)
    + ST_OBSERVACAO_PES (optional, string) - Observação.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ID_PESSOA_PES": "219",
            "ST_NOME_PES": "Giovani da Silva",
            "ST_FANTASIA_PES": "Giovani da Silva",
            "ST_CELULAR_PES": "19945447180",
            "ST_EMAIL_PES": "giovani@imobiliarias.com"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani da Silva",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani da Silva",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19945447180",
                    "st_email_pes":"giovani@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"1",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":""
                }
            }
        ]

##Consultar proprietários [GET]

+ Attributes (object)
    + apenasColunasPrincipais (number) - Mostra apenas os campos principais (Boolean 0 ou 1). 
    + tipoPessoa (number) - Tipos possíveis de pessoa: Física e Jurídica, física e jurídica.
    + statusContrato (number) -  Status do contrato: Todos, locados (apenas com contratos ativos).
    + id (number) - ID do proprietário no Superlógica. 
    + idImovel (number) - Filtra proprietários dos imóveis informados, recebe um array de imóveis.
    + cpfCnpj (string) - Filtra proprietários com o Cpf ou Cnpj informado.
    + qtdImoveis (number) - Filtra proprietários que possuam a quantidade de imóveis informadas.
    + pagina (number) - Número da página.
    + itensPorPagina (number) - Número de elementos que serão retornados por página.
    
+ Request (application/json)
    + Headers 
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    + Body
        {
            "id": "219",
            "apenasColunasPrincipais": "1",
            "status": "0"
        }

+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani da Silva",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani da Silva",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19945447180",
                    "st_email_pes":"giovani@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"1",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":""
                }
            }
        ]
        
# Group Locatários

## Cadastro, consulta e edição [/locatarios]

## Cadastrar um novo locatário [POST]

+ Attributes (object)
    + ST_NOME_PES (string, required) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ID_FORMA_PAG (optional, number) - 1 => Depósito em cheque, 2 => Depósito em dinheiro, 3 => Retirar cheque no local, 4 => Retirar dinheiro no local,   5 => Transf.bancária 6 => Doc/Ted
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => Masculino,
    2 => Feminino
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + FL_NAODOMICILIADO_PES (optional, number) - Não domiciliado no Brasil .
    (Boolean 0 ou 1)
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + ST_OBSERVACAO_PES (optional, string) - Observação.
    + FL_LOCATARIO_PES (required, number) - Flag do locatário = 1.
    (Boolean 0 ou 1)

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ST_NOME_PES": "Giovani Siqueira",
            "ST_FANTASIA_PES": "Giovani Siqueira",
            "ST_CNPJ_PES": "22911385056",
            "ST_CELULAR_PES": "19983080917",
            "ST_TELEFONE_PES": "1938547119",
            "ST_EMAIL_PES": "giovani.siqueira@imobiliarias.com",
            "ST_RG_PES": "480476506",
            "ST_ORGÃO_PES": "SSP",
            "ST_SEXO_PES": "Masculino",
            "DT_NASCIMENTO_PES": "09/01/1996",
            "ST_NACIONALIDADE_PES": "Brasileira",
            "ST_CEP_PES": "13180220"
            "ST_ENDERECO_PES": "Rua Benedito Matheus"
            "ST_NUMERO_PES": "100"
            "ST_COMPLEMENTO_PES": "Casa"
            "ST_BAIRRO_PES": "Jardim Santa Terezinha (Nova Veneza)"
            "ST_CIDADE_PES": "Sumaré"
            "ST_ESTADO_PES": "SP"
            "ST_OBSERVACAO_PES" : "Obs"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani Siqueira",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani Siqueira",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19983080917",
                    "st_email_pes":"giovani.siqueira@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"1",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":"",
                }
            }
        ]
        
## Editar um locatário [PUT]

+ Attributes (object)
    + ID_PESSOA_PES (required, number) - Id do locatário.
    + ST_NOME_PES (optional, string) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => 'Masculino',
    2 => 'Feminino'
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + ST_OBSERVACAO_PES (optional, string) - Observação.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ID_PESSOA_PES": "219",
            "ST_NOME_PES": "Giovani da Silva",
            "ST_FANTASIA_PES": "Giovani da Silva",
            "ST_CELULAR_PES": "19945447180",
            "ST_EMAIL_PES": "giovani@imobiliarias.com"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani da Silva",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani da Silva",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19945447180",
                    "st_email_pes":"giovani@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"1",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":""
                }
            }
        ]
        
##Consultar locatários [GET]

+ Attributes (object)
    + apenasColunasPrincipais (number) - Mostra apenas os campos principais (Boolean 0 ou 1). 
    + tipoPessoa (number) - Tipos possíveis de pessoa: Física e Jurídica, física e jurídica.
    + statusContrato (number) -  Status do contrato: Todos, locados (apenas com contratos ativos).
    + TIPO_IMOVEL (number) - Tipos de imóveis como por exemplo: 1: Casa, 2: Casa em condomínio, 3: Casa comercial, 4: Apartamento, 5: Cobertura, 6: Flat.
    + id (number) - ID do locatário no Superlógica. 
    + cpfCnpj (string) - Filtra proprietários com o Cpf ou Cnpj informado.
    + pagina (number) - Número da página.
    + itensPorPagina (number) - Número de elementos que serão retornados por página.
    
+ Request (application/json)
    + Headers 
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    + Body
        {
            "apenasColunasPrincipais": "1",
            "id": "219",
            "status": "0",
        }

+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani da Silva",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani da Silva",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19945447180",
                    "st_email_pes":"giovani@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"1",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":""
                }
            }
        ]

        
# Group Fiadores

## Cadastro, consulta e edição [/fiadores]

## Cadastrar um novo fiador [POST]

+ Attributes (object)
    + ST_NOME_PES (string, required) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ID_FORMA_PAG (optional, number) - 1 => Depósito em cheque, 2 => Depósito em dinheiro, 3 => Retirar cheque no local, 4 => Retirar dinheiro no local,   5 => Transf.bancária 6 => Doc/Ted
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => Masculino,
    2 => Feminino
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + FL_NAODOMICILIADO_PES (optional, number) - Não domiciliado no Brasil .
    (Boolean 0 ou 1)
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + ST_OBSERVACAO_PES (optional, string) - Observação.
    + FL_FIADOR_PES (required, number) - Flag do fiador = 1.
    (Boolean 0 ou 1)

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ST_NOME_PES": "Giovani Siqueira",
            "ST_FANTASIA_PES": "Giovani Siqueira",
            "ST_CNPJ_PES": "22911385056",
            "ST_CELULAR_PES": "19983080917",
            "ST_TELEFONE_PES": "1938547119",
            "ST_EMAIL_PES": "giovani.siqueira@imobiliarias.com",
            "ST_RG_PES": "480476506",
            "ST_ORGÃO_PES": "SSP",
            "ST_SEXO_PES": "Masculino",
            "DT_NASCIMENTO_PES": "09/01/1996",
            "ST_NACIONALIDADE_PES": "Brasileira",
            "ST_CEP_PES": "13180220"
            "ST_ENDERECO_PES": "Rua Benedito Matheus"
            "ST_NUMERO_PES": "100"
            "ST_COMPLEMENTO_PES": "Casa"
            "ST_BAIRRO_PES": "Jardim Santa Terezinha (Nova Veneza)"
            "ST_CIDADE_PES": "Sumaré"
            "ST_ESTADO_PES": "SP"
            "ST_OBSERVACAO_PES" : "Obs"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani Siqueira",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani Siqueira",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19983080917",
                    "st_email_pes":"giovani.siqueira@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"1",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":"",
                }
            }
        ]
        
## Editar um fiador [PUT]

+ Attributes (object)
    + ID_PESSOA_PES (required, number) - Id do fiador.
    + ST_NOME_PES (optional, string) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => 'Masculino',
    2 => 'Feminino'
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + ST_OBSERVACAO_PES (optional, string) - Observação.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ID_PESSOA_PES": "219",
            "ST_NOME_PES": "Giovani da Silva",
            "ST_FANTASIA_PES": "Giovani da Silva",
            "ST_CELULAR_PES": "19945447180",
            "ST_EMAIL_PES": "giovani@imobiliarias.com"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani da Silva",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani da Silva",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19945447180",
                    "st_email_pes":"giovani@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"1",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":""
                }
            }
        ]

##Consultar fiadores [GET]

+ Attributes (object)
    + apenasColunasPrincipais (number) - Mostra apenas os campos principais.
    (Boolean 0 ou 1). 
    + tipoPessoa (number) - Tipos possíveis de pessoa: Física e Jurídica, física e jurídica.
    + FL_TIPO_FIA (number) -  Tipos possíveis de fiadores: 0: Fiador, 1: Caucionante.
    (Boolean 0 ou 1). 
    + id (number) - ID do fiador no Superlógica. 
    + pagina (number) - Número da página.
    + itensPorPagina (number) - Número de elementos que serão retornados por página.
    
+ Request (application/json)
    + Headers 
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    + Body
        {
            "apenasColunasPrincipais": "1",
            "status": "0",
            "id": "219",
        }

+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani da Silva",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani da Silva",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19945447180",
                    "st_email_pes":"giovani@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"0",
                    "fl_fiador_pes":"1",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":""
                }
            }
        ]
        
# Group Corretores

## Cadastro, consulta e edição [/corretores]

## Cadastrar um novo corretor [POST]

+ Attributes (object)
    + ST_NOME_PES (string, required) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ID_FORMA_PAG (optional, number) - 1 => Depósito em cheque, 2 => Depósito em dinheiro, 3 => Retirar cheque no local, 4 => Retirar dinheiro no local,   5 => Transf.bancária 6 => Doc/Ted
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => Masculino,
    2 => Feminino
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    (Boolean 0 ou 1)
    + ST_OBSERVACAO_PES (optional, string) - Observação.
    + FL_CORRETOR_PES (required, number) - Flag do corretor = 1.
    (Boolean 0 ou 1)

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
        access_token: 1e167a5c-b508-3de1-b480-5557aa2bf741
    
    + Body
        {
            "ST_NOME_PES": "Giovani Siqueira",
            "ST_FANTASIA_PES": "Giovani Siqueira",
            "ST_CNPJ_PES": "22911385056",
            "ST_CELULAR_PES": "19983080917",
            "ST_TELEFONE_PES": "1938547119",
            "ST_EMAIL_PES": "giovani.siqueira@imobiliarias.com",
            "ST_RG_PES": "480476506",
            "ST_ORGÃO_PES": "SSP",
            "ST_SEXO_PES": "Masculino",
            "DT_NASCIMENTO_PES": "09/01/1996",
            "ST_NACIONALIDADE_PES": "Brasileira",
            "ST_CEP_PES": "13180220"
            "ST_ENDERECO_PES": "Rua Benedito Matheus"
            "ST_NUMERO_PES": "100"
            "ST_COMPLEMENTO_PES": "Casa"
            "ST_BAIRRO_PES": "Jardim Santa Terezinha (Nova Veneza)"
            "ST_CIDADE_PES": "Sumaré"
            "ST_ESTADO_PES": "SP"
            "ST_OBSERVACAO_PES" : "Obs"

        }    
    
+ Response 200 (application/json) 
    + Body
        [
            {
                "status": "200",
                "msg": "Sucesso",
                "data": {
                    "id_pessoa_pes":"219",
                    "st_nome_pes":"Giovani Siqueira",
                    "st_cnpj_pes":"22911385056",
                    "st_fantasia_pes":"Giovani Siqueira",
                    "st_rg_pes":"480476506",
                    "st_orgao_pes":"SSP",
                    "st_ie_pes":"",
                    "st_inscmunicipal_pes":"",
                    "st_endereco_pes":"Rua Benedito Matheus",
                    "st_complemento_pes":"Casa",
                    "st_numero_pes":"100",
                    "st_cidade_pes":"Sumar\u00e9",
                    "st_estado_pes":"SP",
                    "st_cep_pes":"13180220",
                    "st_bairro_pes":"Jardim Santa Terezinha (Nova Veneza)",
                    "st_telefone_pes":"1938547119",
                    "st_celular_pes":"19983080917",
                    "st_email_pes":"giovani.siqueira@imobiliarias.com",
                    "st_observacao_pes":"Obs",
                    "st_nacionalidade_pes":"Brasileira",
                    "st_sexo_pes":"1",
                    "dt_nascimento_pes":"01\/09\/1996",
                    "st_estadocivil_pes":"2",
                    "st_profissao_pes":"",
                    "st_ramoatividade_pes":"",
                    "st_trabalhocep_pes":"",
                    "st_trabalhoendereco_pes":"",
                    "st_trabalhonumero_pes":"",
                    "st_trabalhocomplemento_pes":"",
                    "st_trabalhobairro_pes":"",
                    "st_trabalhocidade_pes":"",
                    "st_trabalhoestado_pes":"--",
                    "st_banco_pes":"",
                    "id_forma_pag":"",
                    "st_agenciabanco_pes":"",
                    "st_conta_pes":"",
                    "id_sacado_sac":"270",
                    "id_favorecido_fav":"226",
                    "fl_proprietariobeneficiario_pes":"0",
                    "fl_locatario_pes":"0",
                    "fl_corretor_pes":"1",
                    "fl_fiador_pes":"0",
                    "st_nomerecebedor_pes":"",
                    "st_cnpjrecebedor_pes":"",
                    "id_formarecebimento_pes":"",
                    "vl_rendamensal_pes":"0.00",
                    "st_nome_coj":"",
                    "st_cpf_coj":"",
                    "st_rg_coj":"",
                    "st_nacionalidade_coj":"Brasileira",
                    "st_sexo_coj":"1",
                    "st_profissao_coj":"",
                    "st_celular_coj":"",
                    "st_email_coj":"",
                    "st_observacao_coj":"",
                    "st_telefone_coj":"",
                    "fl_status_pes":"0",
                    "nm_dependentes_pes":"0",
                    "st_tipoconta_pes":"0",
                    "id_unidade_uni":"0",
                    "st_nomeresp_pes":"",
                    "st_cpfresp_pes":"",
                    "st_telefoneresp_pes":"",
                    "st_respcep_pes":"",
                    "st_respendereco_pes":"",
                    "st_respnumero_pes":"",
                    "st_respcomplemento_pes":"",
                    "st_respbairro_pes":"",
                    "st_respcidade_pes":"",
                    "st_respestado_pes":"",
                    "st_respemail_pes":"",
                    "st_rgresp_pes":"",
                    "st_identificadorprop_pes":"",
                    "st_identificadorloc_pes":"",
                    "st_identificadorfiador_pes":"",
                    "st_orgao_coj":"",
                    "dt_expedicaorg_pes":"",
                    "st_operacao_pes":"",
                    "fl_reterissqn_pes":"",
                    "fl_reterinss_pes":"",
                    "fl_reterirrf_pes":"",
                    "fl_reterpis_pes":"0",
                    "fl_retercofins_pes":"0",
                    "fl_retercontribuicaosocial_pes":"0",
                    "fl_naodomiciliado_pes":"0",
                    "fl_comprador_pes":"0",
                    "fl_vistoriador_pes":"",
                }
            }
        ]
        
## Editar um corretor [PUT]

+ Attributes (object)
    + ID_PESSOA_PES (required, number) - Id do corretor.
    + ST_NOME_PES (optional, string) - Nome ou razão social.
    + ST_CNPJ_PES (optional, string) - CNPJ ou CPF.
    + ST_FANTASIA_PES (optional, string) - Nome fantasia.
    + ST_CELULAR_PES (optional, string) - Celular.
    + ST_TELEFONE_PES (optional, string) - Telefone.
    + ST_EMAIL_PES (optional, string) - E-mail.
    + ST_RG_PES (optional, string) - RG.
    + ST_ORGÃO_PES (optional, string) - Orgão exp.
    + ST_SEXO_PES (optional, number) - 1 => 'Masculino',
    2 => 'Feminino'
    + DT_NASCIMENTO_PES (optional, number) - Data de Nascimento.
    + ST_NACIONALIDADE_PES (optional, string) - Nacionalidade.
    + ST_CEP_PES (optional, string) - CEP.
    + ST_ENDERECO_PES (optional, string) - Endereço.
    + ST_NUMERO_PES (optional, string) - Número.
    + ST_COMPLEMENTO_PES (optional, string) - Complemento.
    + ST_BAIRRO_PES (optional, string) - Bairro.
    + ST_CIDADE_PES (optional, string) - Cidade.
    + ST_ESTADO_PES (optional, string) - Estado.
    + ST_OBSERVACAO_PES (optional, string) - Observação.

+ Request (application/json)
    + Headers
        app_token: JVLswJRJlSkF
[...]
